{% extends 'wildthoughts/base/base.html' %}{% block title_block %}
    Home
{% endblock %}
{% load staticfiles %}

{% block body_block %}
<div class="text-center p-4">
    <h1>WildThoughts</h1>
    <h3>Discuss your thoughts on Wildlife</h3>
</div>

<center><img class="img-fluid" src="{% static 'images/koala.png' %}" alt="Picture of Rango" /></center>
<br /><br />

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-5">

        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Underrated Animals</h2>
            {% if overrated_animals %}
                {% for animal in overrated_animals %}
                <div class="card">
                    <div class="d-flex">
                        <div class="d-flex flex-column mx-3 align-items-center">
                            <button type="button" class="upvote" id="upvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-up"></i></button>
                            <h4>{{ animal.upvotes }}</h4>
                            <button type="button" class="downvote" id="downvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-down"></i></button>
                        </div>
                            <img src="{{ MEDIA_URL }}{{ animal.picture }}" class="rounded m-3" width=150 height=90 alt="{{ animal.name }}'s image">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'wildthoughts:animal' animal.slug %}">{{ animal.name }}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% if animal.author.picture %}
                                    <img src="{{ MEDIA_URL }}{{ animal.author.picture }}" class="rounded-circle avatar-sm" width="24" height="24">
                                    {% else %}
                                    <h6 class="card-subtitle mb-2 text-muted"><img src="{% static 'images/defaultprofile.jpg' %}" class="rounded-circle avatar-sm" width="24" height="24">
                                    {% endif %}
                                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'wildthoughts:profile' animal.author %}">{{ animal.author }}</a></h6>
                                    <p class="card-text text-end"><small class="text-muted">{{ animal.date }}</small></p>
                                </h6>
                            </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <strong>There are no animals present.</strong>
            {% endif %}
        </div>

        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Underrated Animals</h2>
            {% if underrated_animals %}
                {% for animal in underrated_animals %}
                <div class="card">
                    <div class="d-flex">
                        <div class="d-flex flex-column mx-3 align-items-center">
                            <button type="button" class="upvote" id="upvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-up"></i></button>
                            <h4>{{ animal.upvotes }}</h4>
                            <button type="button" class="downvote" id="downvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-down"></i></button>
                        </div>
                            <img src="{{ MEDIA_URL }}{{ animal.picture }}" class="rounded m-3" width=150 height=90 alt="{{ animal.name }}'s image">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'wildthoughts:animal' animal.slug %}">{{ animal.name }}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% if animal.author.picture %}
                                    <img src="{{ MEDIA_URL }}{{ animal.author.picture }}" class="rounded-circle avatar-sm" width="24" height="24">
                                    {% else %}
                                    <h6 class="card-subtitle mb-2 text-muted"><img src="{% static 'images/defaultprofile.jpg' %}" class="rounded-circle avatar-sm" width="24" height="24">
                                    {% endif %}
                                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'wildthoughts:profile' animal.author %}">{{ animal.author }}</a></h6>
                                    <p class="card-text text-end"><small class="text-muted">{{ animal.date }}</small></p>
                                </h6>
                            </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <strong>There are no animals present.</strong>
            {% endif %}
        </div>
        
    </div>
</div>

{% endblock %}