{% extends 'wildthoughts/base/base.html' %}{% block title_block %}
    Home
{% endblock %}
{% load staticfiles %}

{% block body_block %}
<div class="text-center p-4">
    <h1>WildThoughts</h1>
    <h3>Discuss your thoughts on Wildlife</h3>
</div>

<center><img class="img-fluid" src="{% static 'images/koala.png' %}" alt="Picture of Rango" /></center>
<br /><br />

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-5">
        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Overrated Animals</h2>
            {% include "wildthoughts/widget/animal_widget.html" with animals=overrated_animals %}
        </div>

        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Underrated Animals</h2>
            {% include "wildthoughts/widget/animal_widget.html" with animals=underrated_animals %}
        </div>
        
    </div>
</div>

{% endblock %}