{% extends 'wildthoughts/base/base.html' %}{% block title_block %}
    Home
{% endblock %}
{% load staticfiles %}
{% load wildthoughts_tags %}

<!-- HEADING -->
{% block body_block %}

<div class="text-center p-4">
    <h1 class = >WildThoughts</h1>
    <h3>Discuss your thoughts on Wildlife</h3>
</div>


<!-- KOALA PICTURE -->
<center><img class="img-fluid rounded" src="{% static 'images/koala.png' %}" alt="Picture of Koala" /></center>
<br /><br />

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-5">
        {% profile as user_profile %}

        <!-- OVERRATED ANIMALS -->
        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Overrated Animals</h2>
            {% include "wildthoughts/widget/animal_widget.html" with animals=overrated_animals profile=user_profile %}
        </div>

        <!-- UNDERRATED ANIMALS -->
        <div class="col">
            <h2 class="mb-4 text-center">Top 5 Underrated Animals</h2>
            {% include "wildthoughts/widget/animal_widget.html" with animals=underrated_animals profile=user_profile %}
        </div>
        
    </div>
</div>

{% endblock %}