{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profiles
{% endblock %}

{% block body_block %}
<!-- HEADING -->
<div class="p-4 text-center">
    <h1>Profiles</h1>
</div>

<div class="container">
    <!-- SORT BY -->
    <div class="d-flex flex-row justify-content-end mb-3">
        <h5 class="me-3">Sort by: </h5>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{ sort_by|title }} 
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'wildthoughts:profiles' %}?sort_by=name">Name</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'wildthoughts:profiles' %}?sort_by=newest">Newest</a></li>
            <li><a class="dropdown-item" href="{% url 'wildthoughts:profiles' %}?sort_by=oldest">Oldest</a></li>
            </ul>
        </div>

    </div>

    <!-- PROFILES -->
    {% for profile in profiles %}
    <div class="card">
        <div class="d-flex my-3">
            {% if profile.picture %}
            <img src="{{ MEDIA_URL }}{{ profile.picture }}" class="rounded-circle m-3" width=64 height=64 alt="{{ author.user.username }}'s image">
            {% else %}
            <img src="{% static 'images/defaultprofile.jpg' %}" class="rounded-circle m-3" width=64 height=64 alt="{{ author.user.username }}'s image">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title ms-4"><a href="{% url 'wildthoughts:profile' profile.user.username %}">{{ profile.user.username }}</a></h4>
                <p class="card-text text-end"><small class="text-muted">{{ profile.date }}</small></p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>There are no profiles present.</p>
    {% endfor %}

    {% include "wildthoughts/widget/pagination_widget.html" with entity=profiles %}
    
</div>

{% endblock %}