{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profiles
{% endblock %}

{% block body_block %}
<div class="p-4">
    <h1>Profiles</h1>
</div>

<div class="container-fluid">
    <div class="row">
        {% if profiles %}
        <div class="col-12">
            <div class="list-group">
                {% for profile in profiles %}
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if profile.picture %}
                                <img src="{{ MEDIA_URL }}{{ profile.picture }}" class="card-img" alt="Picture of {{ profile.user.username }}">
                            {% else %}
                                <img src="https://lorempixel.com/64/64/people/" width="64" height="64" alt="Placeholder image" />
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{profile.user.username}}">{{ profile.user.username }}</a></h5>
                                {% if profile.description %}
                                    <p class="card-text">{{ profile.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>There are no profiles present.</p>
        {% endif %}
    </div>
</div>


{% include "wildthoughts/widget/pagination_widget.html" with entity=profiles %}

{% endblock %}