{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{profile.user.username}}
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">

        <div class="col-12 col-md-4">
            {% if profile.picture %}
            <img class="img-fluid rounded-circle" src="{{ MEDIA_URL }}{{ profile.picture }}"  width="260px" height="260px" alt="{{ profile.user.username }}'s Profile Picture">
            {% else %}
            <img class="img-fluid rounded-circle" src="{% static 'images/defaultprofile.jpg' %}" width="260px" height="260px" alt="No Profile Photo" />
            {% endif %}
            <h2>{{ profile.user.username }}</h2>
            <br />
            <div>
                <h3><strong>Bio</strong></h3>
                <p>
                    {{ profile.user.description|default:"No bio provided" }}
                    {{ profile.user.picture }}
                    {% if profile.user == loguser %}
                        <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2 col-6">
                                <button type="button" class="btn btn-outline-secondary" type="submit" value="Update">Update</button>
                                <a href="{% url 'auth_logout' %}" class="btn btn-outline-danger" role="button" aria-disabled="true">Logout</a>
                            </div>
                        </form>
                    {% endif %}
                </p>
            </div>
        </div>

    <div class="col-12 col-md-8">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a class="nav-link" id="animals" aria-current="page" href="{% url 'wildthoughts:profile' profile.user.username %}?tab=animals&sort_by=newest">Authored Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="discussions" href="{% url 'wildthoughts:profile' profile.user.username %}?tab=discussions&sort_by=newest">Discussions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="comments" href="{% url 'wildthoughts:profile' profile.user.username %}?tab=comments&sort_by=newest">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lists" href="{% url 'wildthoughts:profile' profile.user.username %}?tab=lists&sort_by=newest">Lists</a>
            </li>
        </ul>

        <div class="d-flex flex-row justify-content-end mb-3">
            <h5 class="me-3">Sort by: </h5>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{ sort_by|title }} 
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% if tab == 'animals'%}
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=name">Name</a></li>
                <li><hr class="dropdown-divider"></li>
                {% elif tab != 'comments' %}
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=title">Title</a></li>
                <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=newest">Newest</a></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=oldest">Oldest</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=overrated">Overrated</a></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:profile' profile.user.username %}?tab={{ tab }}&sort_by=underrated">Underrated</a></li>
                </ul>
            </div>
        </div>

    {% if tab == 'animals' %}
    {% include "wildthoughts/widget/animal_widget.html" with animals=results %}

    {% elif tab == 'lists' %}
    {% include "wildthoughts/widget/user_list_widget.html" with user_lists=results %}

    {% elif tab == 'discussions' %}
    {% include "wildthoughts/widget/discussion_widget.html" with discussions=results %}

    {% elif tab == 'comments' %}
    <!-- Insert comments widget here -->

    {% endif %}
    
    </div>
    </div>

</div>
{% endblock %}

{% block script_block %}
<script type="text/javascript">
$(document).ready(function(){
    $('#{{ tab }}').addClass('active');
});
</script>
{% endblock %}