{% extends 'animals_of_all_time/core/base.html' %}{% block title_block %}
    Homepage
{% endblock %}
{% load staticfiles %}

{% block body_block %}
<div class="jumbotron p-4">
    <center>
        <h1 class="jumbotron-heading">WildThoughts</h1>
        <h3>Discuss your thoughts on Wildlife</h3>
    </center>
</div>

<center><img src="{% static 'images/rango.jpg' %}" width=500 height=400 alt="Picture of Rango" /></center>
<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Top 5 Overrated Animals</h2>
                    <p class="card-text">
                    {% if overrated_animals %}
                    <ul class="list-group list-group-flush">
                        {% for animal in overrated_animals %}
                        <li class="list-group-item"><a href="{% url 'animals-of-all-time:animal' animal.slug %}">
                            <img src="{{ MEDIA_URL }}{{ animal.picture }}" width=150 height=100 alt="{{ animal.name }}'s image" />
                            {{ animal.name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no animals present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h2>Top 5 Underrated Animals</h2>
                    <p class="card-text">
                    {% if underrated_animals %}
                    <ul class="list-group list-group-flush">
                    {% for animal in underrated_animals %}
                    <li class="list-group-item"><a href="{% url 'animals-of-all-time:animal' animal.slug %}">
                        <img src="{{ MEDIA_URL }}{{ animal.picture }}" width=150 height=100 alt="{{ animal.name }}'s image" />
                        {{ animal.name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no animals present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}