{% extends 'wildthoughts/base/base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<center><h1 class="display-4 my-5">Login</h1></center> 

<div class="d-grid gap-2 col-sm-6 mx-auto justify-content-center">
<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary w-100" type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<center>
<h5 class="my-4">
    Not registered?
    <a href="{% url 'registration_register' %}">Register here!</a>
</h5>
</center>
</div>


{% endblock %}
