/* h1 used for every Title */
h1 {
    font-weight: bold;
    color: #000000;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
    font-size: max(min(8vw, 100px), 60px);
    animation-name: fadeIn;
    animation-duration: 1.25s;
}

/* Secondary Text under title */
h3 {
    font-size: max(min(1.9vw, 45px), 16px);
    color: #2b2929c0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0.50s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* Fade in animation */
@keyframes fadeIn {
    0% { opacity: 0; filter: blur(10px);}
    100% { opacity: 1; filter: blur(0px);}
}
