{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Lists
{% endblock %}

<!-- HEADING -->
{% block body_block %}
<div class="p-4 text-center">
    <h1>Add Petition</h1>

<!-- FORM -->
<div class="d-grid gap-2 col-sm-6 mx-auto">
<form method="POST" action="{% url 'wildthoughts:add_petition' %}" enctype="multipart/form-data">
    {% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {% if field.name == 'picture' %}
        {{ field }}
    {% else %}
    <br>{{ field }}
    {% endif %}
	<br>
	{% endfor %}
</div>
<input class="btn btn-primary btn-lg w-50" type="submit" name="submit" value="Add Petition" />

</div>
</form>

{% endblock %}
