{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Petitions
{% endblock %}

{% block body_block %}
<div class="p-4">
    <center><h1>Petitions</h1></center>
</div>

<div class="container">

    <div class="container">
        <div class="d-flex flex-row justify-content-end mb-3">
            <h5 class="me-3">Sort by: </h5>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{ sort_by|title }} 
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'wildthoughts:petitions' %}?sort_by=title">Title</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:petitions' %}?sort_by=newest">Newest</a></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:petitions' %}?sort_by=oldest">Oldest</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:petitions' %}?sort_by=most_signed">Most Signed</a></li>
                <li><a class="dropdown-item" href="{% url 'wildthoughts:petitions' %}?sort_by=least_signed">Least Signed</a></li>
                </ul>
            </div>

            {% if user.is_authenticated %}
            <a class="btn btn-success ms-3" href="{% url 'wildthoughts:add_petition' %}" role="button">Add Petition</a>
            {% endif %}
        </div>

    <div class="row">
        {% if petitions %}
        <div class="col-12">
            <div class="list-group">
                {% for petition in petitions %}
                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if petition.picture %}
                            <img src="{{ MEDIA_URL }}{{ petition.picture }}" class="m-3" width="260" height="236" alt="{{ petition.picture }}'s image">
                            {% else %}
                            <img src="{% static 'images/defaultprofile.jpg' %}" class="m-3" width="260" height="236"  alt="{{ petition.title }}'s image">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'wildthoughts:petition' petition.slug %}">{{ petition.title }}</a></h5>
                                {% if animal.description %}
                                <p class="card-text">{{ petition.description }}</p>
                                {% endif %}
                                <p class="card-text">
                                    <small class="text-muted">Added by {{ petition.author.user.username }} on {{ petition.date }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>There are no animals present.</p>
        {% endif %}
    </div>

    {% include "wildthoughts/widget/pagination_widget.html" with entity=petitions %}

</div>

{% endblock %}