{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ animal.name }}
{% endblock %}

{% block body_block %}
<div class="p-4">
    <center> <h1>{{ animal.name }}</h1> </center>
</div>

<div class="container">
    <div class="row">
        <img src="{{ MEDIA_URL }}{{ animal.picture }}" alt="{{ animal.name }}'s image" />
        <br />
        <div>
            <h3><strong>Description</strong></h3>
            <p>
                {{ animal.description }}
            </p>
        </div>
    </div>
</div>
	<div class="text-center p-4">
	<h3><strong>Discussions</strong></h3>
	</div>
    {% if discussions %}
        {% for discussion in discussions %}
		<div class="card">
            <div class="row g-0">
                <div class="col-2 text-center">
                    <button type="button" class="upvote" id="upvote_{{ discussion.id }}" data-animalid="{{ discussion.id }}"><i class="bi bi-chevron-up"></i></button>
                        <h4>{{ discussion.upvotes }}</h4>
                    <button type="button" class="downvote" id="downvote_{{ discussion.id }}" data-animalid="{{ discussion.id }}"><i class="bi bi-chevron-down"></i></button>
                        </div>
                        <div class="col-4">
						<br>
                            {% if animal.author.picture %}
                                <img src="{{ MEDIA_URL }}{{ discussion.author.picture }}" class="rounded-circle avatar-sm" width="80" height="80">
                            {% else %}
                                <h6 class="card-subtitle mb-2 text-muted"><img src="{% static 'images/defaultprofile.jpg' %}" class="rounded-circle avatar-sm" width="80" height="80">
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'wildthoughts:animal' animal.slug %}">{{ discussion.title }}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'wildthoughts:profile' animal.author %}">{{ discussion.author }}</a></h6>
                                    <p class="card-text text-end"><small class="text-muted">{{ discussion.date }}</small></p>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %} 
	{% else %}
		<div class="container">
		<div class="text-center p-4">
		<strong>There are no discussions yet...</strong>
		</div>
		</div>
    {% endif %}
	<br>
	{% if user.is_authenticated %}
	<div class="container">
	<div class="text-center p-4">
		<a class="btn btn-success ms-3" href="{% url 'wildthoughts:add_discussion' animal.slug %}" role="button">Add Discussion!</a>
	</div>
	</div>
    {% endif %}


{% endblock %}