{% extends 'wildthoughts/base/base.html' %}{% block title_block %}
    Overrated Animals
{% endblock %}
{% load staticfiles %}

{% block body_block %}
<div class="text-center p-4">
    <h1>Underrated Animals</h1>
    <h3>See what animals society hates, but in reality are great</h3>
</div>

<br /><br />

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-5">

        <div class="col">
            
            {% if underrated_animals %}
                {% for animal in underrated_animals %}
                <div class="card">
                    <div class="row g-0">
                        <div class="col-2 text-center">
                            <button type="button" class="upvote" id="upvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-up"></i></button>
                            <h4>{{ animal.upvotes }}</h4>
                            <button type="button" class="downvote" id="downvote_{{ animal.id }}" data-animalid="{{ animal.id }}"><i class="bi bi-chevron-down"></i></button>
                        </div>
                        <div class="col-4">
                            <img src="{{ MEDIA_URL }}{{ animal.picture }}" class="img-fluid rounded m-3" width=150 height=100  alt="{{ animal.name }}'s image">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title text-center"><a href="{% url 'wildthoughts:animal' animal.slug %}">{{ animal.name }}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <strong>There are no animals present.</strong>
            {% endif %}
        </div>
        
    </div>
</div>

{% if user.is_authenticated %}
    <a href="{% url 'wildthoughts:add_animal' %}">Add Animal</a>
{% endif %}

{% endblock %}