{% load staticfiles %}

{% if discussions %}
{% for discussion in discussions %}
<div class="card">
    <div class="d-flex">
    <div class="d-flex flex-column mx-3 align-items-center">
        <button type="button" class="upvote" id="upvote_{{ discussion.id }}" data-animalid="{{ discussion.id }}"><i class="bi bi-chevron-up"></i></button>
            <h4>{{ discussion.upvotes }}</h4>
        <button type="button" class="downvote" id="downvote_{{ discussion.id }}" data-animalid="{{ discussion.id }}"><i class="bi bi-chevron-down"></i></button>
    </div>

        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'wildthoughts:animal' discussion.animal.slug %}">{{ discussion.title }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {% if discussion.author.picture %}
                <img src="{{ MEDIA_URL }}{{ discussion.author.picture }}" class="rounded-circle avatar-sm" width="24" height="24">
                {% else %}
                <h6 class="card-subtitle mb-2 text-muted"><img src="{% static 'images/defaultprofile.jpg' %}" class="rounded-circle avatar-sm" width="24" height="24">
                {% endif %}
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'wildthoughts:profile' discussion.author %}">{{ discussion.author }}</a></h6>
                <p class="card-text text-end"><small class="text-muted">{{ discussion.date }}</small></p>
            </h6>
        </div>
</div>
</div>
{% endfor %} 
{% else %}
<div class="container">
<div class="text-center p-4">
<strong>There are no discussions yet...</strong>
</div>
</div>
{% endif %}