{% load staticfiles %}

<div class="col-12">
    <div class="list-group">
        {% for petition in petitions %}
        <div class="card mb-3 w-100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if petition.picture %}
                    <img src="{{ MEDIA_URL }}{{ petition.picture }}" class="m-3" width="260" height="236" alt="{{ petition.title }}'s image">
                    {% else %}
                    <img src="{% static 'images/defaultprofile.jpg' %}" class="m-3" width="260" height="236"  alt="{{ petition.title }}'s image">
                    {% endif %}
                </div>
                    <div class="col-md-8 card-body">
                        <h5 class="card-title"><a href="{% url 'wildthoughts:petition' petition.slug %}">{{ petition.title }}</a></h5>
                        <div class="card-text">
                            <h6 class="text-muted">By {{ petition.author.user.username }}</h6>
                            {% if petition.decision_maker %}
                            <h6 class="text-muted">To {{ petition.decision_maker }}</h6>
                            {% endif %}
                        </div>
                        <p class="card-text">{{ petition.description|truncatechars:300 }}</p>
                    </div>
            </div>
        </div>
        {% empty %}
        <p>There are no petitions present.</p>
        {% endfor %}
    </div>
</div>
