{% extends 'wildthoughts/base/base.html' %}
{% block title_block %}
    Add Discussion
{% endblock %}
{% load staticfiles %}

{% block body_block %}
<!-- HEADING -->
<div class="text-center p-4">
    <h1>Add Discussion</h1>
    <h3>Add a new discussion here!</h3>

<!-- FORM -->
<div class="container">
	<div class="d-grid gap-2 col-sm-6 mx-auto">
		<form id="discussion_form" method="post" action="{% url 'wildthoughts:add_discussion' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ form.errors }}
			{{ field.help_text }}
			<br>{{ field }}
		<br>
		{% endfor %}
		<input class="btn btn-primary btn-lg" type="submit" name="submit" value="Add Discussion" />
	</div>
	</form>
</div>	
</div>
{% endblock %}

{% block script_block %}
<script type="text/javascript">

	$(document).ready(function() {
		$('#id_animal').select2();
		$('#id_animal').val({{ animal_id }}).trigger('change');
	});

</script>
{% endblock %}
