{{% extends 'wildthoughts/base/base.html' %}
{% load staticfiles %}}
{% load wildthoughts_tags %}

{% block title_block %}
    {{ discussion.title }}
{% endblock %}

{% block body_block %}

{% profile as user_profile %}

<div class="d-grid gap-2 col-sm-6 mx-auto p-2">
    <div class="d-flex">
    <div class="d-flex flex-column mx-3 align-items-center">
        {% render_vote 'discussions' discussion user_profile %}
    </div>

        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
                {% if discussion.animal.picture %}
                <img src="{{ MEDIA_URL }}{{ discussion.animal.picture }}" class="rounded-circle avatar-sm" width="24" height="24">
                {% else %}
                <h6 class="card-subtitle mb-2 text-muted"><img src="{% static 'images/default_animal.png' %}" class="rounded-circle avatar-sm" width="24" height="24">
                {% endif %}
                <a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{% url 'wildthoughts:animal' discussion.animal.slug %}">{{ discussion.animal.name }}</a>
                <small>
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'wildthoughts:profile' discussion.author %}">• Posted by {{ discussion.author }}</a></h6>
                </small>
            </h6>
            <h5 class="card-title"><a href="{% url 'wildthoughts:discussion' discussion.slug %}">{{ discussion.title }}</a></h5>
            <p class="card-text">{{ discussion.description }}</p>
            {% if discussion.picture %}
            <img src="{{ MEDIA_URL }}{{ discussion.picture }}" class="img-fluid rounded" width="615" height="410" alt="{{ discussion.title }}'s image" >
            {% endif %}
            <p class="card-text text-end"><small class="text-muted">{{ discussion.date }}</small></p>
        </div>
    </div>

    <div>
        <form method="POST" action="{% url 'wildthoughts:discussion' discussion.slug %}?sort_by={{ sort_by }}">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Comment" />
        </form>
    </div>
    
    <div class="d-flex flex-row justify-content-end mb-3">
        <h5 class="me-3">Sort by: </h5>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{ sort_by|title }} 
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'wildthoughts:discussion' discussion.slug %}?sort_by=newest">Newest</a></li>
            <li><a class="dropdown-item" href="{% url 'wildthoughts:discussion' discussion.slug %}?sort_by=oldest">Oldest</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'wildthoughts:discussion' discussion.slug %}?sort_by=overrated">Overrated</a></li>
            <li><a class="dropdown-item" href="{% url 'wildthoughts:discussion' discussion.slug %}?sort_by=underrated">Underrated</a></li>
            </ul>
        </div>
    </div>

    <!-- COMMENTS -->
    <div>
        {% include "wildthoughts/widget/comment_widget.html" with comments=comments profile=user_profile %}
    </div>

</div>

{% endblock %}